/* Import Foundation XY Grid */
@import "node_modules/foundation-sites/scss/foundation.scss";
@include foundation-xy-grid-classes($base-grid: true, $margin-grid: true, $padding-grid: true, $block-grid: true, $collapse: true, $offset: true, $vertical-grid: true, $frame-grid: true);
@include foundation-visibility-classes;
@include foundation-flex-classes;
@include foundation-float-classes;

body {
  background-color: #49505f;
}

header {
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.text-center {
  text-align: center;
}

.margin {
  margin: 10px;
}

input {
  font-size: 16px;
}

.react-datepicker-wrapper input {
  background: transparent;
  border: none;
  padding: 6px;
  outline: none;
  color: white;
}

.grid-container.fluid {
  .cell {
    background: #3f4552;
  }
}